<div
    class="flex flex-col flex-grow rounded-2xl bg-base-200 my-2 h-full border-solid border-2 border-base-300 hover:bg-base-300 transition-all ease-in-out hover:scale-105 max-w-set-card"
    (click)="onSetClick()">
    <div class="flex flex-grow mb-2 items-center">
        <span class="font-bold text-3xl text-center w-full">{{ set.name }}</span>
    </div>
    <div class="stats stats-vertical ">
        <div class="stat place-items-center">
            <div class="stat-title">Created</div>
            <div class="stat-value">{{ set.created_at | timeAgo }}</div>
            <div class="stat-desc">Cooool!</div>
        </div>
    </div>
</div>