<dialog [id]="modalId" class="modal">
    <div class="modal-box">
      <div class="flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-lightning-charge-fill me-1 " viewBox="0 0 16 16">
              <path
                d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z" />
            </svg>
            <h3 class="font-bold text-lg text-center">Flashcards</h3>
      </div>
      <p class="text-xs font-light text-center">Version: 0.0.1</p>
      <p class="py-4 text-sm text-center">Flashcards is a simple application to create flashcards that can then be added to one or multiple sets. It does not have a lot of features but that is intentional. The idea is for Flashcards to be a replica of physical flashcards.</p>
      <p class="text-xs font-light text-center">Copyright © 2024 Maximilian Falk.</p>
      <p class="text-xs font-light text-center">All rights reserved.</p>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>